.labo1{
	padding: 15px 40px;
	background-color: #FFD700;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 30px;
	margin: 30px 5px;
}
.labo2{
	padding: 15px 40px;
	background: #DC143C;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 30px;
	margin: 15px 15px;
}
.contenedor3 div{
	display: inline-block;
}
