.labo1{
	background-color: #FFD700;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 30px;
	margin: 30px 250px;
}
.labo2{
	background: #DC143C;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 30px;
	margin: 10px 250px;
}
